@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header{
    background: url("cover-image.png");
    background-size: cover;
    height: 200px;
}
.header-1{
    padding: 10px 0px;
    background-color: #394148;
    margin: 0px;
    
}
body{
    background-color: #181c20;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.header-menu{
    display: inline;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
}
.header-menu:hover{
    background-color: skyblue;
}
.skills_main{
    color: skyblue;
}
.personal_skills{
    color: skyblue;
}
ul{
    padding-left: 0px;
}
li{
    display: inline;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}
#skills{
    background-color: #394148;
    text-align: center;
    height: 400px;
    width: 300px;
    margin: 0px 5px 5px 70px;
    border-radius: 10%;
    box-shadow: 10px 10px 10px -5px;
    display: inline-block;
}
#Technical_skills{
    background-color: #394148;
    text-align: center;
    height: 400px;
    width: 300px;
    margin: 0px 5px 5px 80px;
    border-radius: 10%;
    box-shadow: 10px 10px 10px -5px;
    display: inline-block;
}
.skills_main{
    font-family: oxygen;
    padding-left: 50px;
    font-size: xx-large;
    color: skyblue;
}
.personal_skills{
    font-family: oxygen;
    padding-left: 50px;
    font-size: xx-large;
    color: skyblue;
}
.Technical{
    font-family: oxygen;
    padding-left: 50px;
    font-size: xx-large;
    color: skyblue;
}
.profil_pic{
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 65px 0px 25px 550px;
    border-radius: 50%;
}
img{ 
    height: 130px;
    width: 240px;
    padding-top: 25px; 
    border-radius: 40px 40px 10px 10px;
} 
h4{
    font-family: Roboto;
    padding-top: 50px; 
    padding-left: 30px; 
    padding-right: 30px;
    color: white; 
    text-shadow: black;
    font-weight: 200;
}
h5{
    font-family: Roboto;
    padding-top: 30px; 
    padding-left: 0px; 
    padding-right: 0px;
    font-size: medium;
    color: white; 
    text-shadow: black;
    font-weight: 200;
}
.project_1{
    color: skyblue;
}
footer{
    background-color: #394148;
    height: 100px;
    text-align: center;
    padding: 10px 30px;
}
.insta-footer{
    height: 35px;
    width: 35px;
}
.github-footer{
    height: 35px;
    width: 35px;
}
.linkedin-footer{
    height: 35px;
    width: 35px;
}
